
<h1 style="color:#27BD99;">Base users</h1>
<p style="">Bonjour {{name}},</p>
<p style="">Une demande de réinitialisation de mot de passe a été réalisée.</p>
<p style="">Vous pouvez changer de mot de passe en vous rendant sur le lien ci-dessous.</p>
<a href={{link}}>{{link}}</a>