
<h1 style="color:#27BD99;">Base users</h1>
<p style="">Bonjour {{name}},</p>
<p style="">Merci pour l'inscription !</p>
<p style="">Vérifiez votre email avec le lien ci-dessous:</p>
<a href={{link}}>{{link}}</a>